body {
  background-color: #F9F9F9;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 40px;
  background-color: white;
  box-shadow: 0 2px 7px #D8D8D8;
  font-weight: bold;
  box-sizing: border-box;
}

.links-nav-container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.links-nav-container p {
  margin: 0;
}

.active-nav {
  color: black;
  text-decoration: none;
}

.inactive-nav {
  color: #a0a0a0;
  text-decoration: none;
}

.new-book-btn {
  color: white;
  text-decoration: none;
  background-color: #2d2f31;
  padding: 16px;
  position: relative;
}

.new-book-btn:hover {
  box-shadow: 2px 2px 4px #979798;
  top: -2px;
  left: -2px;
}

.new-book-btn:active {
  box-shadow: none;
  top: 0;
  left: 0;
}

.dropbtn {
  font-size: 16px;
  font-weight: bold;
  background-color: white;
  border: none;
  cursor: pointer;
}

.drop-link {
  font-size: 14px;
  font-weight: normal;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content .logout-btn {
  border: none;
  background-color: white;
  padding: 12px 40px;
  cursor: pointer;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown-content button:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.all-books-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 24px;
}

.book-container {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  width: 80vw;
  border: none;
  padding: 24px 24px;
  border-radius: 20px;
  background-color: white;
  position: relative;
}

.book-link {
  color: black;
  text-decoration: none;
}

.book-container:hover {
  top: -5px;
  left: -5px;
  box-shadow: 5px 5px 5px #d5d5d5;
}

.book-container:active {
  box-shadow: none;
  top: 0;
  left: 0;
}

.book-text-container {
  text-align: center;
}

.book-title {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
}

.book-author {
  margin-bottom: 20px;
}

.book-author .author-name {
  font-weight: bold;
}

@media (min-width: 768px) {
  .book-container {
    display: flex;
    align-items: center;
    gap: 32px;
    max-width: 60vw;
  }

  .book-text-container {
    text-align: left;
  }
}

.book-detail-container {
  max-width: 60vw;
  margin: 0 auto;
  text-align: left;
  margin-top: 56px;
}

.book-detail-img {
  margin-bottom: 24px;
}

.book-detail-title {
  margin: 0;
}

.book-detail-author {
  margin: 8px 0 32px 0;
  font-size: 16px;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-chapter-btn {
  border: none;
  background-color: #2D2E31;
  color: white;
  font-weight: bold;
  padding: 10px 24px;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
}

.add-chapter-btn:hover {
  box-shadow: 2px 2px 4px #979798;
  top: -2px;
  left: -2px;
}

.add-chapter-btn:active {
  box-shadow: none;
  top: 0;
  left: 0;
}

.chapters-component-container {
  margin-top: 40px;
}

.chapter-list-intro {
  color: #b4b7be;
  /* font-weight: normal; */
}

.all-chapters-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 16px;
}

.all-chapters-container a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.all-chapters-container a:hover {
  color: #F03E3E;
}
